* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.stress {
  font-weight: bold;
}

.all {
  width: 100%;
  min-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.all .logo {
  max-width: 365px;
  margin-top: 20px;
  margin-left: 10px;
}
.all .logo p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 40px;
  color: white;
}
.all .head {
  width: 100%;
  min-height: 100px;
  background: navy;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.all .head nav {
  width: 450px;
  margin-top: 35px;
  margin-right: 20px;
  display: flex;
  justify-content: space-evenly;
}
.all .head nav a {
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: white;
}
.all .content {
  width: 100%;
  min-height: auto;
}
.all .bottom {
  width: 100%;
  min-height: 100px;
  background: navy;
  display: flex;
  justify-content: space-between;
}
.all .bottom .footerInfo {
  width: auto;
  height: 20px;
  margin-top: 55px;
}
.all .bottom .footerInfo p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 15px;
  color: white;
}
.all .bottom .counterWeight {
  width: 365px;
  margin-right: 10px;
}

@media only screen and (max-width: 1177px) {
  .bottom {
    flex-direction: column;
  }
  .bottom .footerInfo {
    margin: 0;
    margin-bottom: 30px;
    margin-left: 10px;
  }
  .bottom .counterWeight {
    width: 0;
  }
}
@media only screen and (max-width: 860px) {
  .head {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .head nav {
    margin-bottom: 30px;
    margin-left: -25px;
  }
}
.home {
  min-height: 737px;
  display: flex;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/images/hero.jpg);
}
.home .homeContent {
  text-align: center;
  margin-top: 250px;
}
.home .homeContent h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 75px;
  color: white;
  margin-bottom: 30px;
}
.home .homeContent h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 40px;
  color: white;
}

.about {
  min-height: 700px;
  display: flex;
  background: white;
}
.about .aboutContent {
  width: 1250px;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
}
.about .aboutContent h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 40px;
  color: black;
  margin-bottom: 30px;
}
.about .aboutContent .aboutWords {
  margin-bottom: 50px;
}
.about .aboutContent .aboutWords p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: black;
}
.about .aboutContent .aboutFounder {
  max-width: 600px;
}
.about .aboutContent .aboutFounder h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 30px;
  color: black;
}
.about .aboutContent .aboutFounder .founderImg {
  min-height: 350px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/images/Founder.jpg);
}
.about .aboutContent .aboutFounder .founderWords {
  margin-top: 15px;
  margin-bottom: 100px;
}
.about .aboutContent .aboutFounder .founderWords p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: black;
}
.about .aboutContent .aboutFounder .founderWords h4 {
  text-align: end;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: black;
}

.products {
  min-height: 2300px;
  display: flex;
  background: white;
}
.products .productsContent {
  max-width: 1250px;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
}
.products .productsContent h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 40px;
  color: black;
  margin-bottom: 30px;
}
.products .productsContent .productsWords {
  margin-bottom: 50px;
}
.products .productsContent .productsWords p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: black;
}
.products .productsContent .productsGallery {
  min-height: 2000px;
  width: 1250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.products .productsContent .productsGallery .productsRow {
  min-height: 450px;
  width: auto;
  display: flex;
  justify-content: space-between;
}
.products .productsContent .productsGallery .productsRow .productSection {
  width: 600px;
  min-height: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.products .productsContent .productsGallery .productsRow .productSection .productsSectionWords h2 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 45px;
  color: white;
  margin-top: 130px;
  margin-bottom: 15px;
}
.products .productsContent .productsGallery .productsRow .productSection .productsSectionWords p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 25px;
  color: white;
}
.products .productsContent .productsGallery .productsRow .img1 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/images/Africa.jpg);
}
.products .productsContent .productsGallery .productsRow .img2 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/images/Asia.jpg);
}
.products .productsContent .productsGallery .productsRow .img3 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/images/Antarctica.jpg);
}
.products .productsContent .productsGallery .productsRow .img4 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/images/Australia.jpg);
}
.products .productsContent .productsGallery .productsRow .img5 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/images/NorthAmerica.jpg);
}
.products .productsContent .productsGallery .productsRow .img6 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/images/Europe.jpg);
}
.products .productsContent .productsGallery .productsRow .img7 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/images/SouthAmerica.jpg);
}

@media only screen and (max-width: 1310px) {
  .productsRow {
    flex-direction: column;
    margin-bottom: 33px;
  }
  .productsRow .productSection {
    margin-bottom: 33px;
  }
}
.contact {
  min-height: 750px;
  display: flex;
  background: white;
}
.contact .contactContent {
  width: 1250px;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
}
.contact .contactContent h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 40px;
  color: black;
  margin-bottom: 30px;
}
.contact .contactContent .contactWords {
  margin-bottom: 50px;
}
.contact .contactContent .contactWords p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: black;
}